/* 💡 Configuration des styles du sélecteur de note */
:root {
  --gl-star-empty: url(../img/star-empty.svg);
  --gl-star-full: url(../img/star-full.svg);
  --gl-star-size: 24px;
  --gl-tooltip-border-radius: 4px;
  --gl-tooltip-font-size: 0.875rem;
  --gl-tooltip-font-weight: 400;
  --gl-tooltip-line-height: 1;
  --gl-tooltip-margin: 12px;
  --gl-tooltip-padding: 0.5em 1em;
  --gl-tooltip-size: 6px;
}

/* 🦊 Vos styles ici */
html {
  background-color: #f9bbc0;
}

body {
  max-width: 500px;
  margin: 0px;
}

.fond {
  padding: 35px;
  background-color: #FFF;
  border-radius: 40px;
  max-width: 100%;
  margin-top: 60px;
}

.contour {
  border-radius: 60px;
  border: 1px solid #B3B3B3;
  background: #FFF;
}

h1 {
  color: #212121;
  font-family: "Istok Web";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.étoiles{box-sizing: border-box; left: 35px;
}

.icônes{display: flex;
}

h2 {
  color: #212121;
  font-family: "Istok Web";
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
}

.infos p {
  color: #B3B3B3;
  font-family: "Istok Web";
  font-size: 12px;
  font-weight: 400;
}

.écrire p {
  color: rgba(0, 0, 0, 0.40);
  font-family: "Istok Web";
  font-size: 10px;
  font-weight: 400;
}

.p {
  color: #212121;
  font-family: "Istok Web";
  font-size: 12px;
  font-weight: 400;
}

.fond img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.commentaire {
  margin-left: 10px;
}

.notes {
  color: #B3B3B3;
  font-family: "Istok Web";
  font-size: 12px;
  font-weight: 400;
}

.suite_commentaires {
  color: #B3B3B3;
  font-family: "Istok Web";
  font-size: 12px;
  font-weight: 400;
  text-decoration-line: underline;
}

.footer{
  margin-right: 55,13%;
}